<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @todo_list.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @todo_list.description %>
</p>
<div id="task_wrapper">
 <%= render @todo_list.tasks %>
</div>
<%= link_to 'New Task', new_todo_list_task_path(@todo_list) %>
<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
<%= link_to 'Back', todo_lists_path %>
